.CheckboxFilterBlock {

}

.CheckboxFilterBlock_header {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.4%;
  /* or 22px */
  color: #202020;
}


.CheckboxFilterBlock_item {
  margin-bottom: 18px;

  display: block;
  position: relative;

  label {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #202020;
    cursor: pointer;
  }

  input {
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  input + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  input + label::before {
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #CECECE;
    box-sizing: border-box;

    margin-right: 10px;
  }

  input:hover + label::before {
    background-color: #FFB000;

  }

  input:checked + label::before {
    background-color: #FFB000;
    background-image: url(../../../../assets/img/filters/checkbox-check.svg);
    background-position-y: 3px;
    background-position-x: 1px;
    background-repeat: no-repeat;
  }
}
