@import "~/variables";

.project-additional {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 40px;

    @media screen and (max-width: 1100px) {
      display: block;
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }

  &__list {
    list-style: decimal;
  }
}