@import 'variables';

._main-title {
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  color: $text-dark;
  line-height: 27px;
}

.responsive-image {
  width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  ._main-title {
    display: flex;
    font-size: 32px;
    line-height: 39px;
    position: relative;
    overflow: hidden;
  }

  .title-underscore:after {
    content: '';
    display: inline-block;
    height: 2px;
    background-color: #ffb000;
    flex: 1 1 auto;
    align-self: flex-end;
    margin-bottom: 7px;
    margin-left: 10px;
  }
}

@media (min-width: $desktop-width-big) {
  ._main-title {
    font-size: 64px;
    line-height: 79px;
  }

  .title-underscore:after {
    margin-bottom: 17px;
    margin-left: 20px;
  }
}

.yellow-button {
  display: inline-block;

  padding: 15px;

  border: none;
  border-radius: 4px;
  background: $yellow;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

  cursor: pointer;

  font-weight: 600;
  font-size: 24px;
  line-height: 123.4%;
  text-align: center;
  text-transform: uppercase;

  @media screen and (max-width: 575px) {
    padding: 12px 20px;
    font-size: 14px;
  }

  &_16 {
    padding: 10px 33px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.23;
    color: #202020;
    text-transform: none;
  }
}

.illustrated-list {
  max-width: 493px;
  margin-right: 20px;
  padding: 30px 20px;
  background: #f5f5f5;
  border: 1px solid #e9e9e9;

  @media screen and (max-width: 1100px) {
    width: 100%;
    max-width: unset;
    margin: 0 auto 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 575px) {
    padding: 30px 10px 20px;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 29px;

    @media screen and (max-width: 575px) {
      margin-bottom: 19px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.23;

    @media screen and (max-width: 575px) {
      font-size: 22px;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.23;
    text-align: center;
    margin-top: 60px;

    @media screen and (max-width: 575px) {
      font-size: 20px;
      margin-top: 30px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 110px;
    min-width: 110px;
    height: 110px;
    margin-right: 30px;
    background: #ffb000;
    border-radius: 50%;

    @media screen and (max-width: 1300px) {
      margin-right: 15px;
    }

    @media screen and (max-width: 575px) {
      width: 100px;
      min-width: 100px;
      height: 100px;
      margin-right: 10px;
    }

    img {
      max-width: 70%;
      max-height: 70%;
      object-fit: contain;
    }
  }

  &__content {
    li {
      list-style-position: inside;
      font-weight: normal;
      font-size: 16px;
      line-height: 30px;
    }
  }
}

.form-field {
  border: 1px solid #979797;

  &__input {
    width: 100%;
    height: 100%;
    padding: 20px;
    background: none;
    border: none;

    font-weight: 500;
    font-size: 18px;
    line-height: 123.4%;
    color: $black;

    &::placeholder {
      color: $field-grey;
    }

    &:disabled {
      background: #e0e0e0;
      color: $field-grey;
    }
  }

  &_textarea {
    @media screen and (max-width: 1100px) {
      height: 140px;
    }
  }

  &_btn {
    background: $yellow;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    border-color: $yellow;
    text-transform: uppercase;

    input {
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
