$tablet-width: 768px;
$desktop-width: 1200px;
$desktop-width-big: 1440px;
$desktop-width-extended: 1580px;

$main-orange: #edb528;
$dark-orange: #ffb000;
$text-dark: #202020;
$brown: #3c3c3c;

/* - font-family - */
$montserrat: 'Montserrat', sans-serif;

/* - colors - */
$black: #202020;
$grey: #f5f5f5;
$dark-grey: #3c3c3c;
$yellow: #ffb000;
$yellow-second: #e1a91c;
$yellow-third: #ffcf42;
$white: #ffffff;
$white-second: #fafafa;
$red: red;
$field-grey: #979797;
$background-main: #e5e5e5;
$link-main: #0090ff;
