@import "../../common";
@import "../../variables";

.visited-projects__title {
  @extend ._main-title;
  @extend .title-underscore;
  margin-bottom: 26px;
}

.VisitedProjects_ProjectWrapper {
  max-width: 328px;
}

@media (min-width: $tablet-width) {
  .visited-projects__title {
    margin-bottom: 32px;
  }

  .visited-projects__items {
    display: flex;
    justify-content: space-between;
  }

  .VisitedProjects_ProjectWrapper {
    max-width: 350px;
  }
}

  @media (min-width: $desktop-width) {
    .visited-projects__title {
      font-size: 48px;
    }

    .visited-projects__title {
      margin-bottom: 48px;
    }

    .VisitedProjects_ProjectWrapper {
      max-width: 490px;
    }
  }

