@import "@/variables";

.project-modification {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 40px 0;


    @media screen and (max-width: 1100px) {
      display: block;
      margin: 20px 0;
    }


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 37px 70px 15px;
    background: $grey;

    @media screen and (max-width: 1100px) {
      padding: 37px 20px 30px;
    }

    @media screen and (max-width: 575px) {
      padding: 29px 20px 21px;
    }

    &-title {
      margin-bottom: 22px;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;

      @media screen and (max-width: 575px) {
        font-size: 20px;
      }
    }

    &-list {
      li {
        font-weight: normal;
        font-size: 18px;
        line-height: 34px;

        @media screen and (max-width: 575px) {
          line-height: 30px;
        }
      }
    }
  }

  &__form {
    display: grid;
    grid-template-rows: repeat(3, 60px);
    grid-template-columns: repeat(2, 493px);
    grid-gap: 20px;

    @media screen and (max-width: 1100px) {
      display: block;
      margin-top: 30px;

      .form-field {
        margin-bottom: 20px;
      }
    }

    .form-field_textarea {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-row-end: 4;
      grid-column-end: 2;
    }

    .form-field_btn {
      grid-row-start: 3;
      grid-column-start: 2;
    }
  }
}
