@import '@/variables';

.principle {
  // width: 328px;
  // height: 320px;
  height: 100%;
  
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.principle__body {
  // padding: 35px 20px 0;
  padding: 35px 20px 40px;
  height: 100%;
  width: 100%;
  background-color: rgba(60, 60, 60, 0.4);
}

.principle__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;

  text-transform: uppercase;

  color: $white;
  margin-bottom: 20px;
}

.principle__description {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;

  color: $white;
}

@media (min-width: $tablet-width) {
  .principle {
    // width: 350px;
    // height: 320px;
    margin: 0 0 30px;
  }

  .principle__description {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .principle {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 92%;
    position: relative;
  }

  .principle__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15% 10% 10%;
    // padding: 115px 64px 108px 52px;
  }

  .principle__description {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width-extended) {
  // TODO: Fix on 1490px
  .principle {
    width: 480px;
  }

  .principle__body {
    padding-top: 23%;
  }
}
