@import "@/common";
@import "@/variables";

.popular-categories {

}

.popular-categories__container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.popular-categories__title {
  @extend ._main-title;
  @extend .title-underscore;
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .popular-categories__title {
    margin-bottom: 32px;
  }

  .popular-categories__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .popular-categories__container {
    padding-bottom: 80px;
  }

  .popular-categories__title {
    margin-bottom: 63px;
  }
}

