@import "~/variables";
@import '~/common';

.project-section {
  margin-top: 72px;

  @media screen and (max-width: 1300px) {
    margin-top: 60px;
  }

  @media screen and (max-width: 1100px) {
    margin-top: 47px;
  }

  @media screen and (max-width: 575px) {
    margin-top: 40px;
  }

  &__container {
    display: flex;

    @media screen and (max-width: $desktop-width) {
      display: block;
    }
  
   
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1100px) {
      flex-direction: column;
    }
  }

  &__left {
    width: 66%;

    @media screen and (max-width: 1100px) {
      width: 100%;
    }
  }

  &__right {
    width: 33%;
    max-width: 493px;

    @media screen and (max-width: 1100px) {
      width: 100%;
      max-width: unset;
    }
  }

  &__title {
    position: relative;

    display: flex;
    align-items: baseline;
    margin-bottom: 48px;

    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 123.4%;
    white-space: nowrap;
    text-transform: uppercase;

    color: #202020;

    @media screen and (max-width: 1100px) {
      margin-bottom: 20px;
      font-size: 32px;
    }

    @media screen and (max-width: 575px) {
      font-size: 22px;
      white-space: normal;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      margin-left: 10px;
      background: $yellow;

      @media screen and (max-width: 575px) {
        display: none;
      }
    }
  }

  &__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: $black;

    p {
      margin-bottom: 20px;

      @media screen and (max-width: 1100px) {
        margin-bottom: 10px;
      }
    }
  }
  &__link-to-feedback {
    color: $link-main;
    text-decoration: underline;
  }
}

.project-structure {
  &__wrapper {
    display: flex;
    margin-top: 50px;

    @media screen and (max-width: 1100px) {
      display: block;
      margin-top: 40px;
    }
  }

  &__button {
    @media screen and (max-width: 1100px) {
      margin-top: 20px;
    }
  }
}
