@import "~/variables";

.filters__close{
  position: relative;
  width: 60px;
  height: 60px;
  right: -240px;
}

.filters__close:before,
.filters__close:after {
  top: 50%;
  right: calc(50% - 17px);
  content: '';
  display: block;
  height: 4px;
  width: 34px;
  position: absolute;
  background-color: $brown;
}

.filters__close:before {
  transform: rotate(45deg);
}

.filters__close:after {
  transform: rotate(-45deg);
}


@media (min-width: $desktop-width){
  .filters__close {
    display: none;
  }
}

.filters-list__items {
  background-color: #F5F5F5;
  border: 1px solid #E9E9E9;
  width: 335px;
  max-width: 100%;
  padding: 20px 20px;
}

@media (min-width: $tablet-width){
  .filters-list__items {
    width: 365px;
  }
  .filters__close {
    right: -266px;
  }
}

.filters-list__item:not(:last-child) {
  margin-bottom: 24px;
}

.filters-list__item-header {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.4%;
  /* or 22px */
  color: #202020;
}

.filters-list__item-range {
  display: flex;
  justify-content: space-between;
  margin-left: -5px;
}

.filters-list__item-range input {
  width: 113px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #CECECE;
  box-sizing: border-box;
  margin: 0 5px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 123.4%;
  /* or 22px */

  text-align: center;

  color: #202020;
}

.filters-list__item-range span {
  color: #C4C4C4;
  font-size: 36px;
  margin: 0 -10px;
}

.filters-list__item li {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #202020;
  padding-bottom: 18px;

  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #CECECE;
  box-sizing: border-box;
}

.checkmark:hover {
  background-color:  #FFB000;
}

.option_selected {
  border: solid #CECECE;
  border-width: 0 3px 3px 0;
  box-sizing: border-box;


  left: 9px;
  background-color:  #FFB000;
  top: 5px;
  width: 5px;
  height: 10px;
  transform: rotate(45deg);
}
