@import '~/variables';

.image-carousel {
	background-color: $dark-grey;
	border-radius: 5px;
	padding-bottom: 10px;
}

.image-carousel .carousel.carousel-slider .slider-wrapper {
	padding-bottom: 40px;
}

.image-carousel__image {
	width: 100%;
	height: auto;
	max-height: 1500px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding: 10px;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		height: auto;
		object-fit: contain;
		max-height: 500px;
	}
}

.image-carousel .carousel .control-dots {
	bottom: -10px;
}

.control-arrow {
	display: none;
}

@media (min-width: $tablet-width) {
   .image-carousel {
	  background-color: $white;
	  padding: 0px;
    }

	.image-carousel .carousel.carousel-slider .slider-wrapper {
	padding-bottom: 0px;
    }  

	.image-carousel__image img {
		max-width: 90%;
		max-height: 600px;
	}

	.carousel .control-dots {
		display: none;
	}

	.image-carousel .carousel.carousel-slider .control-arrow {
		color: $black;
		display: block;
		background: none;
		opacity: 1;
		top: 100px;
		z-index: 1;

		&:hover,
		&:focus {
			background: none;
		}

		&:before {
			display: none;
		}

		svg {
			height: 42px;
			width: 42px;

			path {
				stroke: $black;
				transition: stroke 0.25s ease-in-out;
			}

			circle {
				fill: none;
				stroke: $black;
				color: $black;
				transition: all 0.25s ease-in-out;
			}

			&:hover {
				circle {
					fill: $black;
					transition: fill 0.25s ease-in-out;
				}
				path {
					stroke: #ffffff;
					transition: stroke 0.25s ease-in-out;
				}
			}

			&:active {
				path {
					stroke: $black;
					transition: stroke 0.25s ease-in-out;
				}

				circle {
					stroke: $main-orange;
					fill: $main-orange;
					transition: all 0.25s ease-in-out;
				}
			}
		}
	}

	.slider-control__prev {
		top: 80px;
		left: 8px;
	}

	.slider-control__next {
		top: 80px;
		right: 8px;
	}

	.slider-control__bottom {
		position: absolute;
		z-index: 1000;
		top: 85%;
		right: 50%;
		height: 40px;
		width: 40px;
		transform: rotate(90deg);
		display: block;
	}
}

@media (min-width: $desktop-width) {
	.image-carousel__image img {
		max-height: 800px;
	}

	.image-carousel .carousel.carousel-slider .control-arrow {
		svg {
			height: 50px;
			width: 50px;
		}
	}

	.slider-control__next {
		right: 1.5%;
	}

	.slider-control__prev {
		left: 1.5%;
	}
}
