.title {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  margin-bottom: 36px;
}

.subtitle {
  padding: 16px 24px;
  font-size: 22px;
}

.item {
  margin-bottom: 20px;

  &__two-in-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    margin: 20px 0;
  }

  &__three-in-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    margin: 20px 0;
  }

  &__one-in-row {
    display: grid;
    grid-template-columns: repeat(1, 500px);
    margin: 20px 0;
  }
}
