.RangeFilterBlock{
  padding-bottom: 38px;
}

.RangeFilterBlock_Header {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.4%;
  /* or 22px */
  color: #202020;
}

.RangeFilterBlock_Range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -5px;
}

.RangeFilterBlock input {
  width: 113px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #CECECE;
  box-sizing: border-box;
  margin: 0 5px;
  font-family: Montserrat, serif;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 123.4%;
  /* or 22px */

  text-align: center;

  color: #202020;
}

.RangeFilterBlock span {
  color: #C4C4C4;
  font-size: 36px;
  margin: 0 -10px;
}

.RangeFilterBlock_RangeInput {
  margin-top: 10px;
  padding: 0 10px;
}