
.button-add-project {
  margin-top: 10px;
}

.title-project-created {
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.item-project-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item-project-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
