.RadioFilterBlock_Header {
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #202020;
}

.RadioFilterBlock_Item {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #202020;
  margin-bottom: 18px;

  display: block;
  position: relative;
}

.RadioFilterBlock_Radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.RadioFilterBlock_Radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.RadioFilterBlock_Radio + label::before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #EDB528;

  border-radius: 50%;
  margin-right: 10px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
}

/* стили при наведении курсора на радио */
.RadioFilterBlock_Radio:not(:disabled):not(:checked) + label:hover::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-8 -8 16 16'%3e%3ccircle r='4' fill='%23EDB528'/%3e%3c/svg%3e");
}

/* стили для активной радиокнопки (при нажатии на неё) */
.RadioFilterBlock_Radio:not(:disabled):active + label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-8 -8 16 16'%3e%3ccircle r='4' fill='%23EDB528'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии checked */
.RadioFilterBlock_Radio:checked + label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-8 -8 16 16'%3e%3ccircle r='4' fill='%23EDB528'/%3e%3c/svg%3e");
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #CECECE;
  box-sizing: border-box;
}

.checkmark:hover {
  background-color: #FFB000;
}
