@import "../../../variables";

.container {
  /* TODO: replace max-width with scss variable */
  max-width: $tablet-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  //outline: 1px solid red;
}

@media (min-width: $tablet-width) {
  .container {
    max-width: $desktop-width;
    padding: 24px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: $desktop-width-extended;
    padding: 0 30px;
  }
}