@import "@/variables";

.Project {
  padding-top: 25px;
  padding-bottom: 0px;
}

.Project_Breadcrumbs {
  margin-bottom: 44px;
}

.Project_Title {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.23;
  text-transform: uppercase;

  color: #202020;
  margin-bottom: 27px;
}

@media (min-width: $tablet-width) {
  .Project_Breadcrumbs {
    margin-bottom: 34px;
  }

  .Project_Title {
    font-size: 32px;
    margin-bottom: 33px;
  }
}

@media (min-width: $desktop-width) {

  .Project {
    padding-top: 45px;
    padding-bottom: 30px;
  }

  .Project_Breadcrumbs {
    margin-bottom: 48px;
  }

  .Project_Title {
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 48px;
  }

}