@import '../../../variables';

.CatalogueHeader_Found {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;

  color: $black;
}

.CatalogueHeader_Sorting {
  margin-top: 24px;
  margin-bottom: 30px;
  display: flex;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 43px;
}

.CatalogueHeader_SortingItems {
  display: flex;
  min-height: 43px;
  align-items: center;
}

.CatalogueHeader_SortingItem {
  margin-left: 30px;
  cursor: pointer;
  line-height: 20px;
  padding: 9px 20px 10px 20px;
  border: 2px solid transparent;
  display: flex;
  justify-content: space-between;

  img {
    margin-left: 10px;
    opacity: 0;
  }
  &:hover {
    border: 2px solid $yellow;
    border-radius: 4px;
    img {
      opacity: 1;
    }
  }

  &__ActiveAsc {
    border: 2px solid $yellow;
    border-radius: 4px;
    padding: 9px 20px 10px 20px;

    img {
      opacity: 1;
    }

    &:hover {
      background-color: $yellow;
    }
  }

  &__ActiveDesc {
    border: 2px solid $yellow;
    border-radius: 4px;
    padding: 9px 20px 10px 20px;
    background-color: transparent;

    img {
      transform: rotate(180deg);
      opacity: 1;
    }

    &:hover {
      background-color: $yellow;
    }
  }
}
