@import "~/variables";

.CatalogueHeader_Found {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;

  color: $black;
}



@media (max-width: $desktop-width) {
  .CatalogueHeader_Found {
    display: none;
  }

  .found_no_projects {
    font-size: 15px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    color: $black;
    text-align: center;
    padding-top: 30px;
  }

  .CatalogueHeader_Sorting_Title {
    font-size: 16px;
    margin-right: 10px;
  }

  .CatalogueHeader_Sorting_Wrapper {
    position: relative;
    display: inline-block;
  }

  .CatalogueHeader_SortingItems {
    display: flex;
    flex-direction: column;
    min-height: 43px;
    min-width: max-content;
    align-items: center;
    gap: 7px;
  }
}

@media (min-width: $tablet-width){
  .CatalogueHeader_SortingItems {
    flex-direction: row;
  }

  .CatalogueHeader_Sorting{
    flex-direction: row;
  }
}

@media (min-width: $desktop-width){
  .found_no_projects{
    display: none;
  }
}

.CatalogueHeader_Sorting {
  position: relative;
  max-width: calc(100vw - 30px);
  margin-top: 24px;
  margin-bottom: 30px;
  display: flex;
flex-direction: column;
  align-items: center;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 43px;
}

.CatalogueHeader_SortingItems {
  display: flex;
  //flex-direction: row;
  min-height: 43px;
  min-width: 190px;
  align-items: center;
}

.CatalogueHeader_SortingItem {
  margin-left: 20px;
  min-width: 190px;
  cursor: pointer;
  line-height: 20px;
  padding: 12px 20px 12px 20px;
  border: 2px solid $yellow;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  .icon {
    font-size: 22px;
    transform: rotate(90deg); 
  }
   .rotated {
    transform: rotate(0deg); 
  }

  &:hover {
    border: 2px solid $yellow;
    border-radius: 7px;
    img {
      opacity: 1;
    }
  }

  &__ActiveAsc {
    border: 2px solid $yellow;
    border-radius: 4px;
    padding: 9px 20px 10px 20px;

    &:hover {
      background-color: $yellow;
    }
  }

  &__ActiveDesc {
    border: 2px solid $yellow;
    border-radius: 7px;
    padding: 12px 20px 12px 20px;
  }

  @media (max-width: $desktop-width) {
    margin-left: 0;
    padding: 10px 20px 10px 20px;
}

  @media (min-width: $desktop-width){
    &:hover {
      background-color: $yellow;
    }
}
}
