@import "~/variables";

.CatalogueHeader_Found {
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;

  color: $black;
}



@media (max-width: $desktop-width) {
  .CatalogueHeader_Found {
    display: none;
  }

  .CatalogueHeader_Sorting_Title {
    font-size: 16px;
    margin-right: 10px;
  }

  .CatalogueHeader_Sorting_Wrapper {
    position: relative;
    display: inline-block;
  }

  .CatalogueHeader_SortingItems {
    display: flex;
    flex-direction: column;
    background: $grey;
    min-height: 43px;
    border: 2px solid $yellow;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    width: 100%;
    min-width: max-content;
    align-items: center;
    z-index: 1000;
    top: 87%;

    li {
      &:first-child {
        border-radius: 0px 0px 7px 7px;
        border-top: none;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.CatalogueHeader_Sorting {
  position: relative;
  max-width: calc(100vw - 30px);
  margin-top: 24px;
  margin-bottom: 30px;
  display: flex;
  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 43px;
}

.CatalogueHeader_SortingItems {
  display: flex;
  min-height: 43px;
  min-width: 209px;
  align-items: center;
}

.CatalogueHeader_SortingItem {
  margin-left: 20px;
  min-width: 209px;
  cursor: pointer;
  line-height: 20px;
  padding: 12px 20px 12px 20px;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;

  img {
    margin-left: 10px;
    opacity: 0;
  }
  &:hover {
    border: 2px solid $yellow;
    border-radius: 7px;
    img {
      opacity: 1;
    }
  }

  &__ActiveAsc {
    border: 2px solid $yellow;
    border-radius: 4px;
    padding: 9px 20px 10px 20px;

    img {
      opacity: 1;
    }

    &:hover {
      background-color: $yellow;
    }
  }

  &__ActiveDesc {
    border: 2px solid $yellow;
    border-radius: 7px;
    padding: 12px 20px 12px 20px;
    background-color: transparent;

    &:hover {
      background-color: $yellow;
    }
  }

  @media (max-width: $desktop-width) {
    margin-left: 0;
    padding: 10px 20px 10px 20px;

    &__ActiveDesc {
      background-color: $yellow;

    img {
      transform: rotate(180deg);
      opacity: 1;
    }

    .rotated {
      transform: rotate(0deg);
    }
  } 
}
}
