@import "../../../variables";

.carousel .control-dots {
  bottom: 130px;
}

.control-arrow {
  display: none;
}

@media (min-width: $tablet-width) {
  .carousel .control-dots {
    display: none;
  }

  .carousel.carousel-slider .control-arrow {
    display: block;
    background: none;
    opacity: 1;
    top: 100px;


    &:hover, &:focus {
      background: none;
    }

    &:before {
      display: none;
    }

    svg {
      color: #fff;
      height: 42px;
      width: 42px;

      &:hover {
        fill: #fff;

        #arrow {
          stroke: #E5E5E5;
        }
      }

      &:active {
        fill: $main-orange;

        #arrow {
          stroke: #fff;
        }

        #circle {
          stroke: $main-orange;
        }
      }


    }
  }

  .slider-control__prev {
    top: 80px;
    left: 8px;
  }

  .slider-control__next {
    top: 80px;
    right: 8px;
  }
}

@media (min-width: $desktop-width) {
  .carousel.carousel-slider .control-arrow {
    svg {
      height: 50px;
      width: 50px;
    }
  }

  .slider-control__next {
    right: 1.5%;
  }

  .slider-control__prev {
    left: 1.5%;
  }
}