@import "../../variables";

.header {
  background-color: #3C3C3C;
  z-index: 1;
}

.header__container {
  height: 130px;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 20px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.header__top-item {
  color: #fff;
}

.header__logo {
  width: 75%;
  display: block;
}

.header__logo-img {
  width: 130px;
  height: 30px;
}

.header__top-item-phone {
  display: none;
}

.header__top-item-contact,
.header__top-item-menu {
  margin-top: 20px;
}

.header__top-item-lang {
  font-weight: 500;
  margin-right: 3px;
}

@media (min-width: $tablet-width) {
  .header--transparent {
    background: rgba(60, 60, 60, 0.8);
    position: absolute;
    top: 0;
    width: 100%;
  }

  .header__container {
    height: 80px;
    padding-top: 20px;
    padding-bottom: 16px;
  }

  .header__top {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }

  .header__logo {
    margin-right: auto;
    width: auto;
  }

  .header__top-item-contact,
  .header__top-item-menu {
    margin-top: 0px;
  }

  .header__top-item {
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }
  }

  .header__top-item-phone {
    display: block;
  }
}


@media (min-width: $desktop-width) {
  .header__container {
    height: 140px;
    padding: 30px 20px 0 20px;
  }

  .header__top {
    position: relative;
  }

  .header__logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }

  .header__logo-img {
    width: 258px;
    height: 59px;
  }

  .header__top-item-menu {
    display: none;
  }
}
