.ImageCarousel_SlideImage {
  max-width: 100%;
}

.ImageCarousel_Thumbnail {

  &:hover, &:focus {
    border-color: #EDB528;
  }

  &+.active {
    border: 4px solid #EDB528;
  }
}

.ImageCarousel_Thumbnail[aria-pressed = true] {
  border: 4px solid #EDB528;
}