server:
  port: ${SERVER_PORT}

spring:

  profiles:
    active: dev
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${APPRO_DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  jpa:
    open-in-view: false
    show-sql: true

  flyway:
    enabled: true

images:
  size:
    filter: 20

springdoc:
  swagger-ui:
    path: /v1/appro-docs

feedback:
  email:
    to: ${HUSKY_EMAIL}
    from: ${HUSKY_EMAIL}
    api-key: ${HUSKY_EMAIL_API_KEY}
  telegram:
    uri: ${TELEGRAM_URI}
    chat_id: ${TELEGRAM_CHAT_ID}

aws:
  bucket:
    name: ${AWS_BUCKET_NAME}
  access:
    key: ${AWS_ACCESS_KEY}
    secret-key: ${AWS_ACCESS_SECRET_KEY}

watermark:
  transparency :
    factor: 0.7f
  scale: 0.25
  path: /static/logo.png
  image:
    result:
      format: png

telegram:
  uri: ${TELEGRAM_URI}
  chat_id: ${TELEGRAM_CHAT_ID}

auth:
  token:
    cookie-name: JWT
    secret-key: ${AUTH_TOKEN_SECRET_KEY}
    ttl: 86400000
  password: ${AUTH_PASSWORD}