@import "../../../common";
@import "../../../variables";

.feedback {
  padding-bottom: 50px;
}

.feedback__header-test {
  @extend ._main-title;
  @extend .title-underscore;
  margin-bottom: 27px;
}

.feedback__input {
  margin-bottom: 20px;
}