@import "~/common";
@import "~/variables";

.feedback {
  padding-bottom: 50px;
  padding-top: 50px;
}

.feedback__header {
  @extend ._main-title;
  margin-bottom: 27px;
}

.feedback__input {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .feedback {
    padding-bottom: 70px;

    background: url("@/assets/img/main/feedback/letter-tablet.png") no-repeat;
    background-position-x: right;
    background-position-y: 30px;
    background-size: contain;
  }

  .feedback__header {
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    background-image: url("@/assets/img/main/feedback/letter-desktop.png");
    padding-bottom: 110px;
    padding-top: 80px;
  }

  .feedback__header {
    margin-bottom: 63px;
  }

  .feedback__body {
    padding-left: 128px;
  }

  .feedback_header {
    margin-bottom: 63px;
    font-size: 64px;
    line-height: 79px;
  }
}
