.about__container {
    padding-bottom: 50px;
}

.about__photo img {
    width: 100%;
    height: auto;
}

.about__photo,
.about__certificate {
    margin-bottom: 24px;
}

.about__description-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;

    color: #202020;
}

.about__description-text p:first-child,
.about__description-text p:last-child,
.about__description-text p:nth-last-child(2){
    margin-bottom: 23px;
}

@media (min-width: 768px) {
    .about__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .about__photo {
        width: 65%;
    }

    .about__certificate {
        width: 32%;
    }

    .about__photo img,
    .about__certificate img {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 1440px) {

    .about__body {
        justify-content: flex-start;
    }

    .about__photo {
        margin-right: 30px;
        margin-bottom: 0;
        width: 414px;
    }

    .about__certificate {
        margin-right: 55px;
        margin-bottom: 0;
        width: 209px;
    }

    .about__photo img,
    .about__certificate img {
        height: auto;
        width: 100%;
    }

    .about__description {
       max-width: 47%;
    }

}