.feedback {
    padding-bottom: 50px;
}

.feedback_header {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    color: #202020;
    line-height: 27px;
    margin-bottom: 27px;
}

.feedback__input {
    margin-bottom: 20px;
}

/*TODO: какой тут цвет текста? */
.feedback__input input {
    padding: 20px;
    width: 100%;
    max-width: 328px;
    border: 1px solid #979797;
}

.feedback__input input::placeholder {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #979797;
}

.feedback__submit {
    width: 100%;
    max-width: 328px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
}

@media (min-width: 768px) {
    .feedback {
        padding-bottom: 70px;
    }

    .feedback_header {
        margin-bottom: 32px;
        font-size: 32px;
        line-height: 39px;
    }

    .feedback__input input {
        max-width: 412px;
    }

    .feedback__submit {
        max-width: 412px;
    }

}

@media (min-width: 1440px) {
    .feedback {
        padding-bottom: 110px;
    }

    .feedback__body {
        padding-left: 128px;
    }

    .feedback_header {
        margin-bottom: 63px;
        font-size: 64px;
        line-height: 79px;
    }

    .feedback__input input {
        max-width: 494px;
    }

    .feedback__submit {
        max-width: 494px;
    }

}
