.popular-categories__container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.popular-categories__item {
    margin-top: 20px;
}

.popular-categories__item-body {
    position: relative;
}

.popular-categories__item img {
    height: auto;
    width: 100%;
}

/*TODO: I make them unselectable, is it ok? */
.popular-categories__item-title {
    padding: 14px 0 0 20px;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(60, 60, 60, 0.6);

    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    user-select: none;
}

.popular-categories__item-title:hover {
    background-color: #EDB528;
}

.popular-categories__item-title:active {
    background-color: #E1A91C;
}

@media (min-width: 768px) {
    .popular-categories__title {
        text-align: left;
        display: flex;
    }

    .popular-categories__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .popular-categories__item {
        margin-top: 30px;
        width: 50%;
    }

    .popular-categories__item:nth-child(-n+2) {
        margin-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 1440px) {
    .popular-categories__item:nth-child(odd) {
        padding-right: 10px;
    }

    .popular-categories__item:nth-child(even) {
        padding-left: 10px;
    }
}

@media (min-width: 1440px) {
    .popular-categories__container {
        padding-bottom: 80px;
    }

    .popular-categories__item {
        padding: 0 20px;
        margin-top: 40px;
    }

    .popular-categories__item:nth-child(1),
    .popular-categories__item:nth-child(4),
    .popular-categories__item:nth-child(6) {
        padding-left: 0;
    }

    .popular-categories__item:nth-child(3),
    .popular-categories__item:nth-child(5),
    .popular-categories__item:nth-child(8) {
        padding-right: 0;
    }

    .popular-categories__item:nth-child(4) img,
    .popular-categories__item:nth-child(5) img{
        height: 480px;
    }


    .popular-categories__item:nth-child(-n+3) {
        margin-top: 0;
        width: 33.3333%;
    }

    .popular-categories__item:nth-last-child(-n+3) {
        width: 33.3333%;
    }

    .popular-categories__item-title {
        height: 70px;
        font-size: 24px;
        line-height: 30px;
        padding: 20px 30px;
    }

    .popular-categories__item img {
        height: 380px;
        width: 100%;
        object-fit: cover;
    }
}