.principles__container {
    padding-bottom: 50px;
}

.principles__item {
    width: 328px;
    height: 320px;
    margin-bottom: 20px;
}

.principles__item-body {
    padding: 35px 20px 0;
    height: 100%;
    width: 100%;
    background-color: rgba(60, 60, 60, 0.4);;
}

.principles__item--strength {
    background: url("img/principles/strength.jpg") center center;
    background-size: cover;
}

.principles__item--beauty {
    background: url("img/principles/beauty.jpg") center center;
    background-size: cover;
}

.principles__item--benefit {
    background: url("img/principles/benefit.jpg") center center;
    background-size: cover;
}

.principles__item-title {
    z-index: 5;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;

    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 8%;
}

.principles__item-description {
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;

    color: #FFFFFF;
}

@media (min-width: 768px) {
    .principles__body {
        display: flex;
        flex-wrap: wrap;
    }


    .principles__item {
        width: 350px;
        height: 320px;
    }

    /* TODO: Promblem on 768px */
    .principles__item:nth-child(2){
        margin: 0 20px;
    }

    .principles__item-description {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    .principles__container {
        padding-bottom: 80px;
    }

    .principles__item {
        width: 480px;
        height: 440px;
        margin-right: 40px;
    }

    .principles__item:last-child {
        margin-right: 0;
    }

    .principles__item-body {
        padding: 115px 64px 0 52px;
    }

    .principles__item-description {
        font-size: 16px;
    }
}