@import '../../../variables';

.button {
  display: flex;
  width: 147px;
  height: 40px;
  background-color: $yellow;
  color: $text-dark;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  transition: all 0.25s ease-in-out;

  &:disabled {
    opacity: 0.4;
  }
}

.button--big {
  width: 100%;
  max-width: 328px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
}

.button--small {
  font-weight: 600;
  font-size: 12px;
  line-height: 30px;
  width: 104px;
  height: 30px;
}

.button:focus {
  outline: none;
}

.button:hover {
  color: $white;
  background-color: $yellow-third;
}

.button:active {
  color: $white;
  background-color: $yellow-second;
}

.button--transparent {
  text-transform: none;
  width: 210px;
  font-weight: 500;
  font-size: 16px;
  color: $white;
  border: 2px solid $yellow;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  line-height: 36px;
  transition: 0.33s ease-in-out;
}

.button--transparent:hover {
  background-color: $main-orange;
}

.button--transparent:active {
  background-color: $yellow-second;
}

.button--transparent:active {
  background-color: $yellow-second;
}

.button--transparent-small {
  text-transform: uppercase;
  width: 50px;
  font-weight: 600;
  font-size: 12px;
  border: 2px solid $yellow;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  line-height: 36px;
  font-style: normal;

  color: $black;
}

.button--transparent-small:hover {
  background-color: $main-orange;
}

.button--transparent-small:active {
  background-color: $yellow-second;
}

@media (min-width: $tablet-width) {
  .button--big {
    max-width: 412px;
  }
}

@media (min-width: $desktop-width) {
  .button--big {
    max-width: 494px;
  }

  .button--extended {
    max-width: 100%;
    width: 100%;

    height: 60px;
    font-size: inherit;
    font-weight: 600;
  }

  .button--small {
    width: 147px;
    height: 40px;
    line-height: 40px;
  }
}
